{% extends 'base.html.twig' %}


{% block body %}

    <h1>Bienvenue dans ce blog</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto ducimus eveniet fuga nobis possimus quis unde.
        Adipisci autem consequatur consequuntur eligendi laborum nam nulla odio provident quia quo. Ab aliquid autem excepturi
        ipsa nam nisi odio odit perspiciatis sapiente vitae!</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto ducimus eveniet fuga nobis possimus quis unde.
        Adipisci autem consequatur consequuntur eligendi laborum nam nulla odio provident quia quo. Ab aliquid autem excepturi
        ipsa nam nisi odio odit perspiciatis sapiente vitae!</p>

{% endblock %}