{% extends 'base.html.twig' %}


{% block body %}

    <h1>Bienvenue !</h1>

    <h2>Une Marque Française</h2>

    <p>CROISIAUX ANAIS est une jeune marque française en prêt-à-porter féminin moyen et haut de gamme déposée en avril 2016 en pleine expansion.</p>

    <p>Sa production est entièrement belge.</p>

    <p>Des tissus uniques imprimés et fabriqués en Belgique.</p>

    <p>La marque est distribuée via sa boutique en ligne, plateformes internationales de vente en B2B et B2C, des showrooms et des boutiques.<p>

    <p> CROISIAUX ANAIS vous propose ses collections  uniques ou déclinées en plusieurs tailles en prêt-à-porter ou sur-mesure, en fonction des saisons tout en s’inspirant des tendances actuelles.</p>

    <h2>SON PORTRAIT</h2>

    <p>

        Née à Mons, en 1993 de nationalité belge, Anais Croisiaux obtient à la fin de ses études techniques secondaires à l'Athénée Royal de PERUWELZ (Belgique) son diplôme de couturière. Elle veut poursuivre ses études et devenir styliste.



        C'est un rêve qui deviendra réalité en juin 2016: Diplômée de la Haute Ecole Francisco Ferrer à BRUXELLES en Arts Appliqués section stylisme modélisme.  Une des meilleures écoles de mode de Belgique très réputée dans le milieu de la mode.

        Durant ses études, elle effectue un stage de quatre mois chez la très réputée Styliste Liégeoise, Ann PIRON, spécialisée dans la création de robes de mariée et de cérémonie.



        Cette collaboration lui a permis de découvrir et d'apprendre de nouvelles techniques telles que travailler la dentelle et les finitions Haut de gamme.

        Dès sa sortie de l'école, elle décide de déposer sans attendre sa marque de vêtements et accessoires qui porte tout simplement ses nom et prénom.



        Chacune de ses créations est unique.



        Elle dessine, crée, produit et laisse libre cours à sa créativité.</p>

    <div id="social-platforms">
        <h1>Retrouve moi sur les réseaux sociaux !</h1>

        <a class="btn btn-icon btn-facebook" href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a>
        <a class="btn btn-icon btn-twitter" href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a>
        <a class="btn btn-icon btn-googleplus" href="#"><i class="fa fa-google-plus"></i><span>Google+</span></a>
        <a class="btn btn-icon btn-pinterest" href="#"><i class="fa fa-pinterest"></i><span>Pinterest</span></a>
    </div>


{% endblock %}